#one{
    width: 300px;
    height: 100px;
    background-color: rgb(190, 231, 108);
}
#two{
    width: 300px;
    height: 100px;
    background-color: rgb(98, 225, 225);
}
#three{
    width: 300px;
    height: 100px;
    background-color: rgb(74, 224, 162);
}